<div
  [routerLink]="['/products', 'men']"
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow"
>
  <a>
    <img
      class="p-8 rounded-t-lg"
      src="{{ productItem.imageUrl }}"
      alt="product image"
    />
  </a>
  <div class="px-5 pb-5">
    <a href="#">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900">
        {{ productItem.name }}
      </h5>
    </a>
    <div class="flex items-center mt-2.5 mb-5">
      <p class="font-semibold">Rating</p>
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded ms-3"
      >
        {{ productItem.rating }}
      </span>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold text-gray-900">
        {{ productItem.price | currency }}
      </span>
    </div>
  </div>
</div>
