<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 max-sm:flex-col sm:flex-col md:flex-col lg:flex-row"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="../../assets/images/suit-1-svgrepo-com.svg"
        class="h-8"
        alt="clothing Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >Style Lab</span
      >
    </a>
    <div
      class="items-center justify-between w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-row font-medium p-0 md:p-0 mt-0 border border-gray-100 rounded-lg bg-gray-50 md:space-x-2 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white md:border-gray-700 max-sm:flex-row"
      >
        <!-- Your navigation links here -->
        <li class="relative group">
          <a
            routerLink="/"
            class="block py-0.5 px-1 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="relative group">
          <a
            [routerLink]="['/products', 'men']"
            href="#"
            class="block py-0.5 px-1 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Products</a
          >
        </li>
        <li class="relative group">
          <a
            routerLink="/cart"
            href="#"
            class="block py-0.5 px-1 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Cart</a
          >
        </li>
        <li class="relative group">
          <a
            routerLink="contact"
            href="#"
            class="block py-0.5 px-1 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
