<div class="flex flex-col md:flex-row items-center justify-center mt-12">
  <img src="{{ productView1.imageUrl }}" alt="product" />
  <div class="ml-2">
    <h3 class="text-3xl">{{ productView1.name }}</h3>
    <p class="text-lg">{{ productView1.price | currency }}</p>
    <button
      *ngIf="productView1.id > 4"
      (click)="orderItem()"
      type="button"
      class="mt-8 text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Add to cart
    </button>
    <button
      *ngIf="productView1.id <= 4"
      (click)="orderItem()"
      type="button"
      class="mt-8 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Order
    </button>
  </div>
</div>
