.prodList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-content: center;
  margin-left: 250px;
  row-gap: 20px;
}

.img2 {
  height: 500px;
}

.matlist {
  margin-left: 850px;
  margin-top: 100px;
}

.prod2 {
  margin-left: 500px;
}
.example-sidenav {
  margin-left: 20px;
  margin-right: 20px;
}
.example-sidenav-content {
  margin-left: 50px;
}
.sidenav-container {
  margin-top: 80px;
}
.sidenav {
  width: 200px;
}
